.containerMain {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0;
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  overflow: hidden;
  height: calc(100vh - 160px);
}
